industry/banking/bnk-02-loan-review.yml
kind: app
version: '0.1.5'
app:
  description: ローン申請情報からパラメータを抽出し、基本要件（年齢、年収、勤続年数、借入比率）をCode判定、要件充足/不充足で分岐して審査レポートまたは不適合通知を生成するワークフロー。
  icon: "\U0001F3E6"
  icon_background: '#E8F5E9'
  mode: workflow
  name: 'BNK-02: ローン審査 基本要件チェック'
  use_icon_as_answer_icon: false
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: "爆弾\n殺害\n違法薬物\nハッキング手法"
        inputs_config:
          enabled: true
          preset_response: "その内容にはお答えできません。別の質問をお願いします。"
        outputs_config:
          enabled: true
          preset_response: "適切な回答を生成できませんでした。質問を変えてください。"
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: parameter-extractor
      id: e-30200000000001-30200000000002
      source: '30200000000001'
      sourceHandle: source
      target: '30200000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: parameter-extractor
        targetType: code
      id: e-30200000000002-30200000000003
      source: '30200000000002'
      sourceHandle: source
      target: '30200000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: e-30200000000003-30200000000004
      source: '30200000000003'
      sourceHandle: source
      target: '30200000000004'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-30200000000004-30200000000005
      source: '30200000000004'
      sourceHandle: 'true'
      target: '30200000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: template-transform
      id: e-30200000000004-30200000000006
      source: '30200000000004'
      sourceHandle: 'false'
      target: '30200000000006'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: variable-aggregator
      id: e-30200000000005-30200000000007
      source: '30200000000005'
      sourceHandle: source
      target: '30200000000007'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: variable-aggregator
      id: e-30200000000006-30200000000007
      source: '30200000000006'
      sourceHandle: source
      target: '30200000000007'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-aggregator
        targetType: end
      id: e-30200000000007-30200000000008
      source: '30200000000007'
      sourceHandle: source
      target: '30200000000008'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 'ローン申請書テキストを受け取る'
        selected: false
        title: 開始
        type: start
        variables:
        - label: application_text
          max_length: 50000
          options: []
          required: true
          type: paragraph
          variable: application_text
      height: 89
      id: '30200000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'ローン申請書から審査に必要な情報を抽出'
        selected: false
        title: 申請情報抽出
        type: parameter-extractor
        query:
        - '30200000000001'
        - application_text
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
          completion_params:
            temperature: 0.1
            max_tokens: 1024
        parameters:
        - name: applicant_name
          type: string
          description: "申請者氏名"
          required: true
        - name: age
          type: number
          description: "申請者年齢"
          required: true
        - name: annual_income
          type: number
          description: "年収（万円）"
          required: true
        - name: years_employed
          type: number
          description: "勤続年数"
          required: true
        - name: loan_amount
          type: number
          description: "希望借入額（万円）"
          required: true
        - name: loan_purpose
          type: string
          description: "借入目的（住宅、自動車、教育、事業、その他）"
          required: true
        instruction: "ローン申請書テキストから上記パラメータを抽出してください。数値は万円単位で抽出してください。"
        memory: null
        vision:
          enabled: false
        reasoning_mode: prompt
      height: 97
      id: '30200000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: '基本要件（年齢・年収・勤続年数・借入比率）を判定する'
        selected: false
        title: 基本要件チェック
        type: code
        code_language: python3
        code: |
          def main(age: int, annual_income: int, years_employed: int, loan_amount: int) -> dict:
              issues = []
              if age < 20 or age > 70:
                  issues.append(f"年齢要件不適合（{age}歳：20〜70歳が対象）")
              if annual_income < 200:
                  issues.append(f"年収要件不適合（{annual_income}万円：200万円以上が必要）")
              if years_employed < 1:
                  issues.append(f"勤続年数要件不適合（{years_employed}年：1年以上が必要）")
              ratio = loan_amount / annual_income if annual_income > 0 else 999
              if ratio > 8:
                  issues.append(f"借入比率超過（年収の{ratio:.1f}倍：上限8倍）")
              passed = len(issues) == 0
              result = "PASS" if passed else "FAIL"
              detail = "全基本要件を充足" if passed else "\\n".join(issues)
              return {'result': result, 'detail': detail, 'income_ratio': round(ratio, 1)}
        variables:
        - value_selector:
          - '30200000000002'
          - age
          variable: age
        - value_selector:
          - '30200000000002'
          - annual_income
          variable: annual_income
        - value_selector:
          - '30200000000002'
          - years_employed
          variable: years_employed
        - value_selector:
          - '30200000000002'
          - loan_amount
          variable: loan_amount
        outputs:
          result:
            type: string
          detail:
            type: string
          income_ratio:
            type: number
      height: 97
      id: '30200000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          logical_operator: and
          conditions:
          - id: condition_pass
            variable_selector:
            - '30200000000003'
            - result
            comparison_operator: is
            value: "PASS"
        desc: '基本要件チェック結果で分岐する'
        selected: false
        title: 要件判定分岐
        type: if-else
      height: 125
      id: '30200000000004'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '要件充足案件の詳細審査レポートを生成する'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 4096
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            あなたは銀行の融資審査専門家です。基本要件を充足したローン申請について、詳細な審査レポートを作成してください。

            ## レポートフォーマット
            ### ローン審査レポート
            ■ 申請者情報
            （申請者名、年齢、年収、勤続年数を記載）

            ■ 融資条件
            （希望借入額、借入目的、年収倍率を記載）

            ■ 基本要件チェック結果
            （全項目PASSであることを確認記載）

            ■ 審査所見
            （年収倍率、勤続年数、借入目的を踏まえた総合的な所見）

            ■ 推奨事項
            （融資実行にあたっての条件や注意事項）

            ## 注意事項
            - 提供されたデータのみに基づいて判定する
            - 最終的な融資決定は審査会議で行う旨を明記する
            - 個人情報の推測や追加生成は行わない
        - role: user
          text: |
            以下のローン申請について審査レポートを作成してください。

            申請者名: {{#30200000000002.applicant_name#}}
            年齢: {{#30200000000002.age#}}歳
            年収: {{#30200000000002.annual_income#}}万円
            勤続年数: {{#30200000000002.years_employed#}}年
            希望借入額: {{#30200000000002.loan_amount#}}万円
            借入目的: {{#30200000000002.loan_purpose#}}

            基本要件チェック結果: {{#30200000000003.detail#}}
            年収倍率: {{#30200000000003.income_ratio#}}倍
        selected: false
        title: 審査レポート生成
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '30200000000005'
      position:
        x: 1280
        y: 132
      positionAbsolute:
        x: 1280
        y: 132
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: '要件不充足案件の不適合通知を生成する'
        selected: false
        title: 不適合通知生成
        type: template-transform
        template: |
          ## ローン審査 基本要件チェック結果

          申請者: {{ applicant_name }}
          判定: **不適合**

          ### 不適合項目
          {{ detail }}

          ### 対応
          上記要件を充足しないため、現時点での融資は困難です。
          条件変更のご相談は融資窓口（内線: 4001）までお問い合わせください。
        variables:
        - value_selector:
          - '30200000000002'
          - applicant_name
          variable: applicant_name
        - value_selector:
          - '30200000000003'
          - detail
          variable: detail
      height: 97
      id: '30200000000006'
      position:
        x: 1280
        y: 432
      positionAbsolute:
        x: 1280
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        advanced_settings:
          group_enabled: false
          groups: []
        desc: '審査レポートと不適合通知を集約する'
        output_type: string
        selected: false
        title: 結果集約
        type: variable-aggregator
        variables:
        - - '30200000000005'
          - text
        - - '30200000000006'
          - output
      height: 89
      id: '30200000000007'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: '審査結果を出力する'
        outputs:
        - value_selector:
          - '30200000000007'
          - output
          variable: review_result
        selected: false
        title: 終了
        type: end
      height: 89
      id: '30200000000008'
      position:
        x: 1880
        y: 282
      positionAbsolute:
        x: 1880
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
