samples/v08-if-else-branch.yml
version: "0.1.4"
kind: "app"
app:
  description: 'V08: IF/ELSE条件分岐 — 日英バイリンガルFAQ'
  icon: "\U0001F310"
  icon_background: '#D5F5F6'
  mode: workflow
  name: "V08 バイリンガルFAQ"
  use_icon_as_answer_icon: false
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: "爆弾\n殺害\n違法薬物\nハッキング手法"
        inputs_config:
          enabled: true
          preset_response: "その内容にはお答えできません。別の質問をお願いします。"
        outputs_config:
          enabled: true
          preset_response: "適切な回答を生成できませんでした。質問を変えてください。"
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  environment_variables: []
  conversation_variables: []
  graph:
    edges:
    - data:
        sourceType: start
        targetType: if-else
      id: '80000000000001-80000000000002'
      source: '80000000000001'
      sourceHandle: source
      target: '80000000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: '80000000000002-80000000000003'
      source: '80000000000002'
      sourceHandle: 'true'
      target: '80000000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: '80000000000002-80000000000004'
      source: '80000000000002'
      sourceHandle: 'false'
      target: '80000000000004'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: variable-aggregator
      id: '80000000000003-80000000000005'
      source: '80000000000003'
      sourceHandle: source
      target: '80000000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: variable-aggregator
      id: '80000000000004-80000000000005'
      source: '80000000000004'
      sourceHandle: source
      target: '80000000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-aggregator
        targetType: end
      id: '80000000000005-80000000000006'
      source: '80000000000005'
      sourceHandle: source
      target: '80000000000006'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 'ユーザーの質問と言語選択を受け取る'
        selected: false
        title: 開始
        type: start
        variables:
        - label: query
          max_length: 999999
          options: []
          required: true
          type: paragraph
          variable: query
        - label: language
          max_length: 48
          options:
          - English
          - Japanese
          required: true
          type: select
          variable: language
      height: 115
      id: '80000000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        conditions:
        - id: condition_1
          comparison_operator: is
          value: English
          variable_selector:
          - '80000000000001'
          - language
        desc: '言語設定に基づいて分岐する'
        logical_operator: and
        selected: false
        title: 言語判定
        type: if-else
      height: 125
      id: '80000000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '英語で回答を生成する'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 4096
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: "You are a helpful corporate FAQ assistant. Answer in professional English."
        - role: user
          text: '{{#80000000000001.query#}}'
        selected: false
        title: LLM-EN
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '80000000000003'
      position:
        x: 680
        y: 182
      positionAbsolute:
        x: 680
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '日本語で回答を生成する'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 4096
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: "あなたは企業FAQアシスタントです。丁寧な日本語で回答してください。"
        - role: user
          text: '{{#80000000000001.query#}}'
        selected: false
        title: LLM-JA
        type: llm
        variables: []
        vision:
          enabled: false
      height: 97
      id: '80000000000004'
      position:
        x: 680
        y: 382
      positionAbsolute:
        x: 680
        y: 382
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        advanced_settings:
          group_enabled: false
        desc: '両LLMの出力を集約する'
        output_type: string
        selected: false
        title: 結果集約
        type: variable-aggregator
        variables:
        - - '80000000000003'
          - text
        - - '80000000000004'
          - text
      height: 89
      id: '80000000000005'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'FAQ回答を出力する'
        outputs:
        - value_selector:
          - '80000000000005'
          - output
          variable: answer
        selected: false
        title: 終了
        type: end
      height: 89
      id: '80000000000006'
      position:
        x: 1280
        y: 282
      positionAbsolute:
        x: 1280
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
