samples/v15-chatflow-rag.yml
app:
  description: "Chatflow RAG + メモリ - 契約書レビュー支援チャットボット"
  icon: "\U0001F4DC"
  icon_background: '#E3F2FD'
  mode: advanced-chat
  name: "V15 契約書レビュー支援チャットボット"
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: "爆弾\n殺害\n違法薬物\nハッキング手法"
        inputs_config:
          enabled: true
          preset_response: "その内容にはお答えできません。別の質問をお願いします。"
        outputs_config:
          enabled: true
          preset_response: "適切な回答を生成できませんでした。質問を変えてください。"
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: e15-start-to-kr
      source: '15000000000001'
      sourceHandle: source
      target: '15000000000002'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: e15-kr-to-llm
      source: '15000000000002'
      sourceHandle: source
      target: '15000000000003'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: e15-llm-to-answer
      source: '15000000000003'
      sourceHandle: source
      target: '15000000000004'
      targetHandle: target
      type: custom
    nodes:
    - data:
        type: start
        title: "開始"
        desc: ''
        variables: []
      height: 90
      id: '15000000000001'
      position:
        x: 0
        y: 300
      positionAbsolute:
        x: 0
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: knowledge-retrieval
        title: "ナレッジ検索"
        desc: "契約書テンプレートとレビューガイドラインを検索"
        query_variable_selector:
        - sys
        - query
        dataset_ids:
        - "legal-kb-placeholder"
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 5
          score_threshold: 0.5
          reranking_model:
            provider: ''
            model: ''
      height: 54
      id: '15000000000002'
      position:
        x: 300
        y: 300
      positionAbsolute:
        x: 300
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: llm
        title: "法務AIアシスタント"
        desc: "ナレッジベースに基づいて契約書レビューを支援"
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
          completion_params:
            temperature: 0.7
            max_tokens: 4096
        prompt_template:
        - role: system
          text: "あなたは法務AIアシスタントです。ナレッジベースの契約書テンプレートとレビューガイドラインに基づいて回答してください。\n\nルール:\n- 契約条項のリスクを高/中/低で判定する\n- 修正案を求められた場合は具体的な条文案を提示する\n- 法的助言ではない旨を必ず付記する\n- 回答の根拠となるガイドライン条文を引用する"
        - role: user
          text: '{{#sys.query#}}'
        context:
          enabled: true
          variable_selector:
          - '15000000000002'
          - result
        memory:
          enabled: true
          window:
            enabled: true
            size: 10
          role_prefix:
            user: ""
            assistant: ""
        vision:
          enabled: false
        variables: []
      height: 98
      id: '15000000000003'
      position:
        x: 600
        y: 300
      positionAbsolute:
        x: 600
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: answer
        title: "応答"
        desc: ''
        answer: '{{#15000000000003.text#}}'
      height: 107
      id: '15000000000004'
      position:
        x: 900
        y: 300
      positionAbsolute:
        x: 900
        y: 300
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
