industry/ai-solutions/ais-115-subsidy-application-check.yml
kind: app
version: 0.1.5
app:
  description: 補助金申請書の内容を入力すると、記載漏れ・要件充足・改善ポイントをチェックするワークフロー。
  icon: ✅
  icon_background: '#E0F2F1'
  mode: workflow
  name: 'AIS-115: 補助金申請書チェック'
  use_icon_as_answer_icon: false
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: |-
          爆弾
          殺害
          違法薬物
          ハッキング手法
        inputs_config:
          enabled: true
          preset_response: その内容にはお答えできません。別の質問をお願いします。
        outputs_config:
          enabled: true
          preset_response: 適切な回答を生成できませんでした。質問を変えてください。
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
      id: e-61500000000001-61500000000002
      source: '61500000000001'
      sourceHandle: source
      target: '61500000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
        isInIteration: false
      id: e-61500000000002-61500000000003
      source: '61500000000002'
      sourceHandle: source
      target: '61500000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
      id: e-61500000000003-61500000000004
      source: '61500000000003'
      sourceHandle: 'true'
      target: '61500000000004'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: template-transform
        isInIteration: false
      id: e-61500000000003-61500000000006
      source: '61500000000003'
      sourceHandle: 'false'
      target: '61500000000006'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
      id: e-61500000000004-61500000000005
      source: '61500000000004'
      sourceHandle: source
      target: '61500000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-61500000000005-61500000000007
      source: '61500000000005'
      sourceHandle: source
      target: '61500000000007'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-61500000000006-61500000000007
      source: '61500000000006'
      sourceHandle: source
      target: '61500000000007'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 入力パラメータを受け取る
        selected: false
        title: 開始
        type: start
        variables:
        - label: application_content
          variable: application_content
          required: true
          type: paragraph
          max_length: 50000
          options: []
        - label: subsidy_type
          variable: subsidy_type
          required: true
          type: select
          max_length: 48
          options:
          - 国庫補助金
          - 都道府県補助金
          - 市区町村補助金
          - EU・国際機関助成
          - 民間財団助成金
          - その他
        - label: subsidy_guidelines
          variable: subsidy_guidelines
          required: false
          type: paragraph
          max_length: 30000
          options: []
        - label: applicant_type
          variable: applicant_type
          required: true
          type: select
          max_length: 48
          options:
          - 自治体
          - NPO・社団法人
          - 中小企業
          - 個人事業主
          - 大学・研究機関
      height: 149
      id: '61500000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力テキストの検証とインジェクション検出を行う
        selected: false
        title: 入力検証
        type: code
        code_language: python3
        code: |-
          import re

          def main(application_content: str, subsidy_guidelines: str) -> dict:
              issues = []
              if len(application_content.strip()) < 50:
                  issues.append("入力が短すぎます（50文字以上必要）")
              injection_patterns = [
                  r'(?i)ignore\s+(previous|above|all)\s+(instructions?|prompts?)',
                  r'(?i)system\s*prompt',
                  r'(?i)you\s+are\s+now',
                  r'(?i)forget\s+(everything|all|your)',
                  r'<script',
                  r'javascript:',
                  r'\{\{.*\}\}',
              ]
              combined = application_content + ' ' + subsidy_guidelines
              for pattern in injection_patterns:
                  if re.search(pattern, combined):
                      issues.append("不正な入力パターンが検出されました。正しい内容を入力してください。")
                      break

              is_valid = "true" if len(issues) == 0 else "false"
              error_message = "" if is_valid == "true" else "\n".join(issues)
              return {'is_valid': is_valid, 'error_message': error_message}
        variables:
        - value_selector:
          - '61500000000001'
          - application_content
          variable: application_content
        - value_selector:
          - '61500000000001'
          - subsidy_guidelines
          variable: subsidy_guidelines
        outputs:
          is_valid:
            type: string
          error_message:
            type: string
      height: 97
      id: '61500000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証結果で分岐する
        selected: false
        title: 検証結果分岐
        type: if-else
        cases:
        - case_id: 'true'
          logical_operator: and
          conditions:
          - id: cond_valid
            variable_selector:
            - '61500000000002'
            - is_valid
            comparison_operator: is
            value: 'true'
      height: 125
      id: '61500000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 補助金申請書の内容を入力すると、記載漏れ・要件充足・改善ポイントをチェックするワークフロー。
        selected: false
        title: AI生成
        type: llm
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 8192
            presence_penalty: 0
            temperature: 0.2
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |-
            あなたは補助金・助成金の申請支援を専門とするコンサルタントです。申請書の内容をチェックし、採択率を高めるための改善提案を行ってください。

            ## あなたの役割
            補助金申請の審査基準を熟知し、採択率向上のための実務的なアドバイスを提供する申請書チェックの専門家です。各種補助金の公募要領・審査基準に精通しています。

            ## 出力フォーマット
            ### チェック結果サマリー
            申請書の完成度評価（A〜D）と総評

            ### 必須記載事項チェック
            | # | チェック項目 | 結果 | 指摘事項 |
            |---|---|---|---|

            ### 審査基準別評価
            | 審査基準 | 現状評価 | 改善提案 | 優先度 |
            |---|---|---|---|
            | 事業の必要性 | | | |
            | 事業の実現可能性 | | | |
            | 事業の効果 | | | |
            | 経費の妥当性 | | | |
            | 事業の継続性 | | | |

            ### 予算書チェック
            | 費目 | 金額 | 補助対象可否 | 指摘事項 |
            |---|---|---|---|

            ### 文章表現の改善提案
            具体的な修正案を含む文章改善ポイント

            ### 添付書類チェックリスト
            ### 採択率向上のためのアドバイス

            ## ルール
            1. 公募要領が提供されている場合はその基準に準拠してチェックする
            2. 補助金適正化法の要件を踏まえた確認を行う
            3. 経費の妥当性は補助対象経費の基準に照らして判断する
            4. SMART基準（具体的・測定可能・達成可能・関連性・期限）で目標をチェックする
            5. 申請書に記載のない情報は推測せず、追記を推奨する
            6. 審査員の視点で読みやすさ・説得力を評価する
            7. 不正受給に該当する可能性のある記載があれば警告する
            8. 類似の補助金制度がある場合は情報提供する
        - role: user
          text: |-
            application_content:
            {{#61500000000001.application_content#}}

            subsidy_type: {{#61500000000001.subsidy_type#}}

            subsidy_guidelines:
            {{#61500000000001.subsidy_guidelines#}}

            applicant_type: {{#61500000000001.applicant_type#}}
        variables: []
        vision:
          enabled: false
      height: 97
      id: '61500000000004'
      position:
        x: 980
        y: 182
      positionAbsolute:
        x: 980
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 生成結果にメタ情報を付与して整形する
        selected: false
        title: 出力整形
        type: template-transform
        template: |-
          # 補助金申請書チェック結果

          **subsidy_type**: {{ subsidy_type }}
          **applicant_type**: {{ applicant_type }}

          ---

          {{ result }}

          ---
          *AIが生成したチェック結果です。最終的な申請は公募要領を精読し、必要に応じて専門家にご相談ください。*
        variables:
        - value_selector:
          - '61500000000004'
          - text
          variable: result
        - value_selector:
          - '61500000000001'
          - subsidy_type
          variable: subsidy_type
        - value_selector:
          - '61500000000001'
          - applicant_type
          variable: applicant_type
      height: 97
      id: '61500000000005'
      position:
        x: 1280
        y: 182
      positionAbsolute:
        x: 1280
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証エラー時のメッセージを整形する
        selected: false
        title: エラー応答
        type: template-transform
        template: |-
          ## 入力エラー

          補助金申請書チェックの処理を開始できませんでした。

          **エラー詳細**: {{ error_message }}

          入力内容を修正して再度お試しください。
        variables:
        - value_selector:
          - '61500000000002'
          - error_message
          variable: error_message
      height: 97
      id: '61500000000006'
      position:
        x: 980
        y: 432
      positionAbsolute:
        x: 980
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 結果またはエラーメッセージを出力する
        selected: false
        title: 終了
        type: end
        outputs:
        - value_selector:
          - '61500000000005'
          - output
          variable: result
        - value_selector:
          - '61500000000006'
          - output
          variable: error_message
      height: 89
      id: '61500000000007'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
