industry/ai-solutions/ais-05-knowledge-qa-chat.yml
kind: app
version: '0.1.5'
app:
  description: Helpfeel/JAPAN AI CHATに対抗する社内ナレッジRAG検索チャットボット。社内規程・マニュアル・FAQ等のナレッジベースから高精度に回答し、会話の文脈を保持する。
  icon: "\U0001F4DA"
  icon_background: '#E3F2FD'
  mode: advanced-chat
  name: 'AIS-05: 社内ナレッジAI検索チャット'
  use_icon_as_answer_icon: false
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: '社内ナレッジAI検索へようこそ。社内規程・マニュアル・FAQについてお気軽にご質問ください。'
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: "爆弾\n殺害\n違法薬物\nハッキング手法"
        inputs_config:
          enabled: true
          preset_response: "その内容にはお答えできません。別の質問をお願いします。"
        outputs_config:
          enabled: true
          preset_response: "適切な回答を生成できませんでした。質問を変えてください。"
    speech_to_text:
      enabled: false
    suggested_questions:
    - '有給休暇の申請方法を教えてください'
    - '出張旅費の精算手続きはどうすればいいですか？'
    - 'リモートワークのルールを確認したい'
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: e-50500000000001-50500000000002
      source: '50500000000001'
      sourceHandle: source
      target: '50500000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
      id: e-50500000000002-50500000000003
      source: '50500000000002'
      sourceHandle: source
      target: '50500000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: answer
      id: e-50500000000003-50500000000004
      source: '50500000000003'
      sourceHandle: source
      target: '50500000000004'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: '社員からの質問を受け取る'
        selected: false
        title: 開始
        type: start
        variables: []
      height: 89
      id: '50500000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: '社内規程・マニュアル・FAQのナレッジベースから関連情報を検索する'
        selected: false
        title: 社内ナレッジ検索
        type: knowledge-retrieval
        query_variable_selector:
        - sys
        - query
        dataset_ids:
        - internal-knowledge-kb-placeholder
        retrieval_mode: multiple
        multiple_retrieval_config:
          top_k: 5
          score_threshold: 0.5
          score_threshold_enabled: true
          reranking_model:
            provider: ''
            model: ''
        single_retrieval_config:
          model:
            provider: openai
            name: gpt-4o-mini
            mode: chat
            completion_params:
              temperature: 0.7
      height: 97
      id: '50500000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '50500000000002'
          - result
        desc: 'ナレッジベースの検索結果と会話履歴に基づいて回答を生成する'
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 4096
            presence_penalty: 0
            temperature: 0.3
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |
            あなたは社内ナレッジデスクのAIアシスタントです。社内の規程・マニュアル・FAQなどのナレッジベースに基づいて、社員からの質問に正確に回答してください。

            ## 回答ルール
            1. ナレッジベースの情報に基づいて回答する。根拠がない場合は「該当する情報が見つかりませんでした」と回答する
            2. 出典（参照したドキュメント名）を回答末尾に記載する
            3. 社内の専門用語はそのまま使用する
            4. 個人情報（社員名・連絡先等）は出力しない
            5. 回答が不完全な可能性がある場合は、担当部署への問い合わせを案内する
            6. 機密レベルの高い情報（経営戦略・人事情報等）は開示しない

            ## 出力フォーマット
            ### 回答
            （質問への回答）

            ### 参照元
            - （ドキュメント名や規程名）

            ### 補足
            （必要に応じて関連情報や注意事項）
        - role: user
          text: '{{#sys.query#}}'
        selected: false
        title: 回答生成
        type: llm
        variables: []
        vision:
          enabled: false
        memory:
          role_prefix:
            assistant: "ナレッジAI"
            user: "社員"
          window:
            enabled: true
            size: 15
      height: 97
      id: '50500000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 'LLMの生成結果を社員に返す'
        selected: false
        title: 応答
        type: answer
        answer: '{{#50500000000003.text#}}'
      height: 89
      id: '50500000000004'
      position:
        x: 980
        y: 282
      positionAbsolute:
        x: 980
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
