industry/ai-solutions/ais-51-review-analysis.yml
kind: app
version: 0.1.5
app:
  description: 顧客レビューデータを入力すると、傾向分析・感情分類・具体的な改善提案を自動生成するワークフロー。
  icon: ⭐
  icon_background: '#FCE4EC'
  mode: workflow
  name: 'AIS-51: レビュー分析・改善提案'
  use_icon_as_answer_icon: false
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: |-
          爆弾
          殺害
          違法薬物
          ハッキング手法
        inputs_config:
          enabled: true
          preset_response: その内容にはお答えできません。別の質問をお願いします。
        outputs_config:
          enabled: true
          preset_response: 適切な回答を生成できませんでした。質問を変えてください。
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
      id: e-55100000000001-55100000000002
      source: '55100000000001'
      sourceHandle: source
      target: '55100000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
        isInIteration: false
      id: e-55100000000002-55100000000003
      source: '55100000000002'
      sourceHandle: source
      target: '55100000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
      id: e-55100000000003-55100000000004
      source: '55100000000003'
      sourceHandle: 'true'
      target: '55100000000004'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: template-transform
        isInIteration: false
      id: e-55100000000003-55100000000006
      source: '55100000000003'
      sourceHandle: 'false'
      target: '55100000000006'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
      id: e-55100000000004-55100000000005
      source: '55100000000004'
      sourceHandle: source
      target: '55100000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-55100000000005-55100000000007
      source: '55100000000005'
      sourceHandle: source
      target: '55100000000007'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-55100000000006-55100000000007
      source: '55100000000006'
      sourceHandle: source
      target: '55100000000007'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 入力パラメータを受け取る
        selected: false
        title: 開始
        type: start
        variables:
        - label: review_data
          variable: review_data
          required: true
          type: paragraph
          max_length: 100000
          options: []
        - label: product_name
          variable: product_name
          required: true
          type: text-input
          max_length: 256
          options: []
        - label: analysis_scope
          variable: analysis_scope
          required: true
          type: select
          max_length: 48
          options:
          - 総合分析
          - ネガティブ要因特定
          - ポジティブ要因特定
          - 競合比較分析
          - 改善優先度分析
      height: 149
      id: '55100000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力テキストの検証とインジェクション検出を行う
        selected: false
        title: 入力検証
        type: code
        code_language: python3
        code: |-
          import re

          def main(review_data: str) -> dict:
              issues = []
              if len(review_data.strip()) < 50:
                  issues.append("入力が短すぎます（50文字以上必要）")
              injection_patterns = [
                  r'(?i)ignore\s+(previous|above|all)\s+(instructions?|prompts?)',
                  r'(?i)system\s*prompt',
                  r'(?i)you\s+are\s+now',
                  r'(?i)forget\s+(everything|all|your)',
                  r'<script',
                  r'javascript:',
                  r'\{\{.*\}\}',
              ]
              combined = review_data
              for pattern in injection_patterns:
                  if re.search(pattern, combined):
                      issues.append("不正な入力パターンが検出されました。正しい内容を入力してください。")
                      break

              is_valid = "true" if len(issues) == 0 else "false"
              error_message = "" if is_valid == "true" else "\n".join(issues)
              return {'is_valid': is_valid, 'error_message': error_message}
        variables:
        - value_selector:
          - '55100000000001'
          - review_data
          variable: review_data
        outputs:
          is_valid:
            type: string
          error_message:
            type: string
      height: 97
      id: '55100000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証結果で分岐する
        selected: false
        title: 検証結果分岐
        type: if-else
        cases:
        - case_id: 'true'
          logical_operator: and
          conditions:
          - id: cond_valid
            variable_selector:
            - '55100000000002'
            - is_valid
            comparison_operator: is
            value: 'true'
      height: 125
      id: '55100000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 顧客レビューデータを入力すると、傾向分析・感情分類・具体的な改善提案を自動生成するワークフロー。
        selected: false
        title: AI生成
        type: llm
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 8192
            presence_penalty: 0
            temperature: 0.2
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |-
            あなたはEC・小売業界のカスタマーインサイト分析の専門家です。顧客レビューデータを定量・定性の両面から分析し、実行可能な改善提案を作成してください。

            ## あなたの役割
            レビューデータからNPS向上・リピート率改善につながる具体的なアクションを導き出すアナリストとして分析を行います。

            ## 出力フォーマット
            ### エグゼクティブサマリー（3行以内）

            ### 感情分布
            | 感情 | 件数 | 割合 | 代表的なコメント |
            |---|---|---|---|
            | 非常に満足 | | | |
            | 満足 | | | |
            | 普通 | | | |
            | 不満 | | | |
            | 非常に不満 | | | |

            ### トピック別分析
            | トピック | 言及数 | ポジ率 | ネガ率 | 主な声 |
            |---|---|---|---|---|

            ### 改善提案（優先度順）
            | # | 改善項目 | 期待効果 | 実施難易度 | 優先度 |
            |---|---|---|---|---|

            ### 強み（維持すべきポイント）
            ### 要注意シグナル（早急対応が必要）

            ## ルール
            1. データに存在しない情報を捏造しない
            2. 定量的な集計結果を可能な限り含める
            3. 個人を特定できる情報は匿名化する
            4. 改善提案は具体的かつ実行可能なものにする
            5. レビュー件数が少ない場合は統計的な限界を注記する
            6. EC業界の標準的なKPI（CVR、レビュー評点、リピート率等）と関連付けて分析する
            7. 推測と事実を明確に区別する
        - role: user
          text: |-
            review_data:
            {{#55100000000001.review_data#}}

            product_name: {{#55100000000001.product_name#}}

            analysis_scope: {{#55100000000001.analysis_scope#}}
        variables: []
        vision:
          enabled: false
      height: 97
      id: '55100000000004'
      position:
        x: 980
        y: 182
      positionAbsolute:
        x: 980
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 生成結果にメタ情報を付与して整形する
        selected: false
        title: 出力整形
        type: template-transform
        template: |-
          # レビュー分析レポート

          **product_name**: {{ product_name }}
          **analysis_scope**: {{ analysis_scope }}

          ---

          {{ result }}

          ---
          *AIによる自動分析です。重要な意思決定には生データの確認をお勧めします。*
        variables:
        - value_selector:
          - '55100000000004'
          - text
          variable: result
        - value_selector:
          - '55100000000001'
          - product_name
          variable: product_name
        - value_selector:
          - '55100000000001'
          - analysis_scope
          variable: analysis_scope
      height: 97
      id: '55100000000005'
      position:
        x: 1280
        y: 182
      positionAbsolute:
        x: 1280
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証エラー時のメッセージを整形する
        selected: false
        title: エラー応答
        type: template-transform
        template: |-
          ## 入力エラー

          レビュー分析・改善提案の処理を開始できませんでした。

          **エラー詳細**: {{ error_message }}

          入力内容を修正して再度お試しください。
        variables:
        - value_selector:
          - '55100000000002'
          - error_message
          variable: error_message
      height: 97
      id: '55100000000006'
      position:
        x: 980
        y: 432
      positionAbsolute:
        x: 980
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 結果またはエラーメッセージを出力する
        selected: false
        title: 終了
        type: end
        outputs:
        - value_selector:
          - '55100000000005'
          - output
          variable: result
        - value_selector:
          - '55100000000006'
          - output
          variable: error_message
      height: 89
      id: '55100000000007'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
