industry/ai-solutions/ais-105-copywriting-variations.yml
kind: app
version: 0.1.5
app:
  description: 商品・サービス情報を入力すると、広告コピーのバリエーションを一括生成するワークフロー。
  icon: ✍
  icon_background: '#F3E5F5'
  mode: workflow
  name: 'AIS-105: コピーライティング'
  use_icon_as_answer_icon: false
workflow:
  environment_variables: []
  conversation_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: true
      type: keywords
      config:
        keywords: |-
          爆弾
          殺害
          違法薬物
          ハッキング手法
        inputs_config:
          enabled: true
          preset_response: その内容にはお答えできません。別の質問をお願いします。
        outputs_config:
          enabled: true
          preset_response: 適切な回答を生成できませんでした。質問を変えてください。
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
      id: e-60500000000001-60500000000002
      source: '60500000000001'
      sourceHandle: source
      target: '60500000000002'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
        isInIteration: false
      id: e-60500000000002-60500000000003
      source: '60500000000002'
      sourceHandle: source
      target: '60500000000003'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
      id: e-60500000000003-60500000000004
      source: '60500000000003'
      sourceHandle: 'true'
      target: '60500000000004'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: template-transform
        isInIteration: false
      id: e-60500000000003-60500000000006
      source: '60500000000003'
      sourceHandle: 'false'
      target: '60500000000006'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
      id: e-60500000000004-60500000000005
      source: '60500000000004'
      sourceHandle: source
      target: '60500000000005'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-60500000000005-60500000000007
      source: '60500000000005'
      sourceHandle: source
      target: '60500000000007'
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: end
        isInIteration: false
      id: e-60500000000006-60500000000007
      source: '60500000000006'
      sourceHandle: source
      target: '60500000000007'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: 入力パラメータを受け取る
        selected: false
        title: 開始
        type: start
        variables:
        - label: product_service_info
          variable: product_service_info
          required: true
          type: paragraph
          max_length: 15000
          options: []
        - label: copy_type
          variable: copy_type
          required: true
          type: select
          max_length: 48
          options:
          - キャッチコピー
          - ボディコピー
          - バナー広告文
          - リスティング広告文
          - LP（ランディングページ）コピー
          - DM・チラシコピー
          - 総合（全種類）
        - label: target_audience
          variable: target_audience
          required: true
          type: text-input
          max_length: 256
          options: []
        - label: usp
          variable: usp
          required: false
          type: text-input
          max_length: 256
          options: []
      height: 149
      id: '60500000000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力テキストの検証とインジェクション検出を行う
        selected: false
        title: 入力検証
        type: code
        code_language: python3
        code: |-
          import re

          def main(product_service_info: str) -> dict:
              issues = []
              if len(product_service_info.strip()) < 20:
                  issues.append("入力が短すぎます（20文字以上必要）")
              injection_patterns = [
                  r'(?i)ignore\s+(previous|above|all)\s+(instructions?|prompts?)',
                  r'(?i)system\s*prompt',
                  r'(?i)you\s+are\s+now',
                  r'(?i)forget\s+(everything|all|your)',
                  r'<script',
                  r'javascript:',
                  r'\{\{.*\}\}',
              ]
              combined = product_service_info
              for pattern in injection_patterns:
                  if re.search(pattern, combined):
                      issues.append("不正な入力パターンが検出されました。正しい内容を入力してください。")
                      break

              is_valid = "true" if len(issues) == 0 else "false"
              error_message = "" if is_valid == "true" else "\n".join(issues)
              return {'is_valid': is_valid, 'error_message': error_message}
        variables:
        - value_selector:
          - '60500000000001'
          - product_service_info
          variable: product_service_info
        outputs:
          is_valid:
            type: string
          error_message:
            type: string
      height: 97
      id: '60500000000002'
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証結果で分岐する
        selected: false
        title: 検証結果分岐
        type: if-else
        cases:
        - case_id: 'true'
          logical_operator: and
          conditions:
          - id: cond_valid
            variable_selector:
            - '60500000000002'
            - is_valid
            comparison_operator: is
            value: 'true'
      height: 125
      id: '60500000000003'
      position:
        x: 680
        y: 282
      positionAbsolute:
        x: 680
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 商品・サービス情報を入力すると、広告コピーのバリエーションを一括生成するワークフロー。
        selected: false
        title: AI生成
        type: llm
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 8192
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - role: system
          text: |-
            あなたは広告コピーライティングのプロフェッショナルです。商品・サービスの魅力を最大限に引き出す広告コピーを、複数のアプローチで作成してください。

            ## あなたの役割
            消費者心理を深く理解し、行動変容を促す言葉の力で売上・認知向上に貢献するコピーライターです。AIDA、PASONA、BEAFなどのフレームワークを駆使します。

            ## 出力フォーマット
            ### キャッチコピー案（10パターン）
            各パターンにアプローチ手法のラベルを付与:
            1. 【ベネフィット訴求】
            2. 【課題提起型】
            3. 【数値・実績型】
            4. 【共感・ストーリー型】
            5. 【問いかけ型】
            6. 【限定・希少性型】
            7. 【権威性・信頼型】
            8. 【比較・差別化型】
            9. 【感性・イメージ型】
            10. 【ユーモア・意外性型】

            ### ボディコピー案（3パターン）
            各200〜400文字のボディコピー:
            - AIDA型（注意→興味→欲求→行動）
            - PASONA型（問題→親近→解決→提案→行動）
            - BEAF型（ベネフィット→証拠→競合優位→特徴）

            ### 広告媒体別コピー
            指定された広告種別に応じたコピー（文字数制限遵守）

            ### コピー評価マトリクス
            | # | コピー | インパクト | 明確さ | 差別化 | 推奨度 |
            |---|---|---|---|---|---|

            ## ルール
            1. 景品表示法の不当表示（優良誤認・有利誤認）に該当する表現は使用しないこと
            2. 薬機法に関連する商品の場合、効能効果の断定表現を避けること
            3. 「業界No.1」「日本初」等の表現には根拠が必要である旨を注記すること
            4. ターゲットの年齢・性別・価値観に合った言葉選びをすること
            5. USP（独自の売り）が指定されている場合は全コピーに反映すること
            6. 各コピーのアプローチ手法を明示し、使い分けの指針を提示すること
            7. 広告媒体の文字数制限を厳守すること（リスティング:見出し30文字/説明文90文字等）
            8. A/Bテストでの検証を前提とした複数パターンを提示すること
        - role: user
          text: |-
            product_service_info:
            {{#60500000000001.product_service_info#}}

            copy_type: {{#60500000000001.copy_type#}}

            target_audience: {{#60500000000001.target_audience#}}

            usp: {{#60500000000001.usp#}}
        variables: []
        vision:
          enabled: false
      height: 97
      id: '60500000000004'
      position:
        x: 980
        y: 182
      positionAbsolute:
        x: 980
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 生成結果にメタ情報を付与して整形する
        selected: false
        title: 出力整形
        type: template-transform
        template: |-
          # コピーライティング

          **copy_type**: {{ copy_type }}
          **target_audience**: {{ target_audience }}
          **usp**: {{ usp }}

          ---

          {{ result }}

          ---
          *AIが生成した広告コピーのドラフトです。景品表示法・薬機法等の法令遵守を確認してから使用してください。*
        variables:
        - value_selector:
          - '60500000000004'
          - text
          variable: result
        - value_selector:
          - '60500000000001'
          - copy_type
          variable: copy_type
        - value_selector:
          - '60500000000001'
          - target_audience
          variable: target_audience
        - value_selector:
          - '60500000000001'
          - usp
          variable: usp
      height: 97
      id: '60500000000005'
      position:
        x: 1280
        y: 182
      positionAbsolute:
        x: 1280
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 入力検証エラー時のメッセージを整形する
        selected: false
        title: エラー応答
        type: template-transform
        template: |-
          ## 入力エラー

          コピーライティングの処理を開始できませんでした。

          **エラー詳細**: {{ error_message }}

          入力内容を修正して再度お試しください。
        variables:
        - value_selector:
          - '60500000000002'
          - error_message
          variable: error_message
      height: 97
      id: '60500000000006'
      position:
        x: 980
        y: 432
      positionAbsolute:
        x: 980
        y: 432
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 結果またはエラーメッセージを出力する
        selected: false
        title: 終了
        type: end
        outputs:
        - value_selector:
          - '60500000000005'
          - output
          variable: result
        - value_selector:
          - '60500000000006'
          - output
          variable: error_message
      height: 89
      id: '60500000000007'
      position:
        x: 1580
        y: 282
      positionAbsolute:
        x: 1580
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 0
      y: 0
      zoom: 1
